<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Number:</strong>
  <%= @project.number %>
</p>

<p>
    <strong>Active:</strong>
    <%= check_box("project", "active", disabled: true) %>
</p>

<%= link_to 'Tilbake', projects_path %>


