<p>
  <strong>Navn:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>ID:</strong>
  <%= @project.number %>
</p>

<p>
    <strong>Aktiv?:</strong>
    <%= check_box("project", "active", disabled: true) %>
</p>

<%= link_to 'Tilbake', projects_path %>


